h1{
    background-color: orange;
    height: 300px;
    width: 300px;

    /* border-width: 15px;
    border-style: solid;
    border-style: dotted;
    border-color: red; */

    border: 10px solid red;
    border-radius: 20px;
    /* border-left: 10px solid red; */
    /* border-bottom: 10px solid red; */
    /* border-right: 10px solid red; */
    /* border-top: 10px solid red; */
    padding: 20px;
    /* padding-left: 20px; */
    /* padding-bottom: 20px; */
    /* padding-right: 20px; */
    /* padding-top: 20px; */
    /* padding: 10px 20px 30px 40px; */
    /* padding: 20px 40px; */
    margin: 10px;
    /* margin-right: 10px; */
    /* margin-left: 10px; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    /* margin: 10px 20px 30px 40px; */
    /* margin: 10px 20px; */
}

h2{
    background-color: aqua;
    border: 5px solid blue;
    margin: 10px;
}
p{
    background-color: blanchedalmond;
    border: 3px solid brown;
    padding: 5px;
    margin: 10px;
}