*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    height: 700px;
    width: 700px;
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(8,1fr);
}
.white{
    background-color: white;
}
.brown{
    background-color: brown;
}