*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.container{
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; 
    height: 700px;
    width: 700px;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}
.Box{
    background-color: blueviolet;
}
.Header{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}
.SideBar{
    grid-row-start: 2;
    grid-row-end: 4;
    text-align: center;
}
.Content1{
    grid-column: 2/4;
    text-align: center;
}
.Footer{
    grid-column: 1/4;
    text-align: center;
}
.Content2{
    text-align: center;
}
.Content3{
    text-align: center;
}