*{
    padding: 0;
    margin: 0;;
}
body{
    background-color: black;
}
.container{
    display: flex;
    background-color:blueviolet;
    padding: 10px;
    gap: 10px;
}
.box{
    height: 200px;
    width: 200px;
}
.first{
    background-color: aqua;
}
.second{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.child{
    height: 100px;
    background-color: red;

}