*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(203, 209, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
label{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.box{
    /* height: 250px; */
    width: 400px;
    background-color: aliceblue;
    border-radius: 5%;
    padding: 60px;
}
h1{
    /* background-color: aqua; */
    text-align: center;
    margin-bottom: 20px;
    color: rgb(65, 65, 234);
}
input{
    width: 100%;
    height: 30px;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 30px;

    border-radius: 5%;
}