*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.container{
    background-color: rgb(255, 255, 255);
    border: 5px solid rgba(255, 0, 0, 0.562);
    font-size: 40px;
    padding: 10px;
    width: 70%;
    border-radius: 50px;
    white-space: nowrap;
    overflow: hidden;
    animation-timing-function: linear;
}
p{
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite
}
@keyframes moving {
    from{
        margin-left: 100%;
    }
    to{
        margin-left: -100%;
    }
}