*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 150px;
    width: 150px;
    background-color: orange;
    cursor: pointer;
    /* transition-property: background-color; */
    /* transition-property: width; */
    /* transition-property: height; */
    /* transition-property: all;
    transition-duration: 3s; */
    /* transition-timing-function: linear; */
    /* transition-timing-function: ease-in-out; */
    /* transition-delay: 2s; */
    transition: all 3s ease-in-out 1s;
}
.box:hover{
    background-color: red;
    width: 200px;
    height: 200px;
}